*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-primary{
    color:#005FAC;
}

.container{
    background-image: url(/assets/images/banner3.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position:center;    
    height: 500px;
    display: flex;
   
    
}

.header-offset{
    width: 1200px;
    display: hidden;
}

.header-container{
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 100px 0 250px;
}

.btn-primary{
    background-color: white;
    color: #005FAC;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    
}

.heading{
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 600;

}
.subtitle{
    padding-bottom: 20px;
    line-height: 25px;
}

/* failures-section */

.failures-section{
    margin-top: 70px;
    display: flex;
    padding-right: 125px;
    align-items: center;
    padding-left: 120px;
}

.failures-list{
        padding: 0 100px;
}

.failures-heading{
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 20px;
        
}

.failures-details{
    font-size: 18px;
    line-height: 30px; 
}

ul {
    list-style: none;
    line-height: 35px;
}

ul li:before {
    content: '✓ ';
    color: #16D887;
    font-weight: bold;
    font-size: 24px;
}

/* My plan */
.my-plan{
    padding: 0 125px;
    margin-top: 70px;
}

.plan-heading {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;

}

.plan-section{
    display: flex;
    gap: 40px;
    justify-content: center;

}

.plan-section img{
    display: block;
    margin: 0 auto 20px;
}

.plan-title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;

}

.plan-description{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.plan{
    justify-content: center;
}

/* call now */

.contact {
    background-image: url(/assets/images/watch.png), url(/assets/images/gradient1.png);
    height: 250px;
    display: flex;
    margin: 50px 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 50px;

}
.call-image{
    position: absolute;
    opacity: 40%;
    height: 250px;

}

.call-class{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}